<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let materia of materias">
        <td>{{ materia.ID_Materia }}</td>
        <td>{{ materia.Nome }}</td>
        <td><button (click)="mostrarDetalhes(materia)">Detalhes</button></td>
        <td>
          <button (click)="editarMateria(materia)">Editar</button>
          <button (click)="deletarMateria(materia)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div *ngIf="detalhesMateria">
    <h2>Detalhes da Matéria</h2>
    <p>Carga Horária: {{ detalhesMateria.CargaHoraria }}</p>
    <p>Ementa: {{ detalhesMateria.Ementa }}</p>
    <p>ID do Curso: {{ detalhesMateria.fk_Curso_ID_Curso }}</p>
    <p>Nome do Curso: {{ detalhesCurso?.Nome }}</p>
  </div>
  
  <div>
    <h2>{{ novaMateria.ID_Materia ? 'Editar Matéria' : 'Adicionar Matéria' }}</h2>
    <form (submit)="novaMateria.ID_Materia ? atualizarMateria() : adicionarMateria()">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" [(ngModel)]="novaMateria.Nome" name="nome" required><br>
  
      <label for="cargaHoraria">Carga Horária:</label>
      <input type="text" id="cargaHoraria" [(ngModel)]="novaMateria.CargaHoraria" name="cargaHoraria" required><br>
  
      <label for="ementa">Ementa:</label>
      <input type="text" id="ementa" [(ngModel)]="novaMateria.Ementa" name="ementa" required><br>
  
      <label for="curso">Curso:</label>
      <select id="curso" [(ngModel)]="novaMateria.fk_Curso_ID_Curso" name="curso" required>
        <option *ngFor="let curso of cursos" [value]="curso.ID_Curso">{{ curso.Nome }}</option>
      </select><br>
  
      <button type="submit">{{ novaMateria.ID_Materia ? 'Atualizar Matéria' : 'Adicionar Matéria' }}</button>
      <button type="button" (click)="cancelarEdicao()">Cancelar</button>
    </form>
  </div>
  