<div style="display: flex; justify-content: space-evenly;">
    
    <div 
    style="display: flex; height: 300px; width: 600px;
    box-shadow: 2px; background-color: beige; margin-right:100px; margin-left: 80px;">
     <canvas #barGraph width="300" height="300"></canvas>
    </div>
    

    <div 
    style="display: flex; height: 300px; width: 600px;
    box-shadow: 2px; background-color: beige; margin-right:100px;">
    <canvas #pizzaGraph></canvas>
    </div>
    
</div>

<div style="display: flex; justify-content: space-between; margin-top: 50px;">
    <div 
    style="display: flex; height: 300px; width: 600px;
    box-shadow: 2px; background-color: beige; margin-right:100px;margin-top: 30px;">
    <canvas #lineGraph></canvas>
    </div>

    <div  style="display: flex; height: 300px; width: 600px;">
        <app-card></app-card>
    </div>

    

  
</div>




